body {
  background-color: #fafafa;
  font-family: sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.App h1 {
  font-family: 'Fjalla One', sans-serif;
  font-size: 64px;
  margin: 16px 16px 32px 16px;
}

.Panel {
  background-color: #ffffff;
  border-radius: 2px;
  margin: 16px;
  border: 1px solid;
}

.LineSeries {
  position: relative;
  padding-left: 40px;
  padding-bottom: 40px;
  margin: 32px;
}

svg {
  fill: none;
  display: block;
  stroke-width: 2px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

.x-axis {
  bottom: 0;
  display: flex;
  font-family: 'Staatliches', cursive;
  height: 40px;
  justify-content: space-between;
  left: 40px;
  position: absolute;
  right: 0;
}

.y-axis {
  align-items: flex-end;
  bottom: 40px;
  display: flex;
  flex-direction: column;
  font-family: 'Staatliches', cursive;
  justify-content: space-between;
  left: 0;
  position: absolute;
  top: 0;
  width: 40px;
}

.y-axis > div::after {
  margin-right: 4px;
  content: attr(data-value);
  color: black;
  display: inline-block;
}

.x-axis > div::after {
  margin-top: 4px;
  display: inline-block;
  content: attr(data-value);
  color: black;
}